<aside id="about-john-vogt">
  <img src="/img/ask-john-vogt.png">

  <section>
  <h3>About JOHNVOGT</h3>
    <p>
      <strong>John Tiberius "JOHNVOGT" Vogt</strong>, NetBeans&reg; certified
      clinical psychologist, tells pathetic weaklings what they need to do to
      get their scrawny, unathletic lives together and not be such a pain
      in his ass.  JOHNVOGT's many qualifications include knowing more than
      everyone else and not being a jackass like the mother of that one girl
      on his daughter's hockey team, who clearly doesn't know anything about
      sports.
    </p>
  </section>
</aside>
