<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>Rock The Vogt: The Official JOHNVOGT Fan Site</title>
  <meta description="JOHNVOGT is the New York Yankees of people.">
  <link rel="stylesheet" href="/css/screen.css" media="screen">
  <link rel="stylesheet" href="/css/print.css" media="print">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
</head>
<body>
  <header>
    <h1><a href="/">Rock The Vogt</a></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/bingo/">JOHNVOGT Bingo</a></li>
        <li><a href="/facts/">JOHNVOGT Facts</a></li>
        <li><a href="/ask/">Ask JOHNVOGT</a></li>
      </ul>
    </nav>
  </header>

  <div id="content">
    {{ content }}
    <div id="tagline">
      <!-- @TODO: Implement this feature. -->
    </div>
  </div>

  <footer>
    <div id="footer-sections" class="clearfix">
      <div>
        <h2>About JOHNVOGT</h2>
        <p>
          JOHNVOGT is the New York Yankees of People and the greatest human
          being to walk the Earth. In 2002, he hit the world's first
          trans-Atlantic home run.
        </p>
      </div>
      <div>
        <h2>Contact JOHNVOGT</h2>
        <p>
          Seriously? JOHNVOGT doesn't want to hear from sorry weaklings like you!
        </p>
      </div>
      <div>
        <h2>Fine Print</h2>
        <p>Copyright &copy; 2014&endash;2015 JOHNVOGT Smash Productions. All golldarn rights reserved.</p>
      </div>
    </div>
    <div style="clear:both;visibility:hidden"></div>
  </footer>

  <div id="fuck-you-overlay">
    <div id="fuck-you">
      <h2>JOHNVOGT's Mobile Strategy:</h2>
      <br>
      <img src="/img/john-vogts-mobile-strategy.png">
    </div>
  </div>
</body>
</html>
